<p><a href="#" class="btn">Button</a></p>
<p><a href="#" class="btn btn--outline">Outline Button</a></p>

<p><a href="#" class="btn btn--big">Alternate Button</a></p>
<p><a href="#" class="btn btn--small">Alternate Button</a></p>

<p><a href="#" class="btn btn--gray">Alternate Button</a></p>
<p><a href="#" class="btn btn--white">Alternate Button</a></p>

<p><a href="#" class="btn disabled">Disabled Button</a></p>