<h3>Iscriviti alla nostra newsletter</h3>
<form action="{{ url }}" method="post" class="inline-form newsletter-form">           
	<p>Newsletter lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam similique laboriosam aspernatur tenetur minima reprehenderit aliquam itaque, architecto magnam numquam fuga, quam voluptas eius fugiat a nisi illo? Id, corrupti.</p>
	<fieldset>
		<legend>A once a week email with no spam, no rambling. Just pure awesome links to the best news and articles to hit the interweb during the week.</legend>

		<label for="newsletter-scope">Sign up for our newsletter</label>
		<div class="inline-container">
			<input type="email" placeholder="johnny@cage.com" id="newsletter-field" />
			<button class="btn newsletter-submit">Sign Me Up</button>
			<small class="field-note">Please use your real email</small>
		</div>
	</fieldset>
</form>