<h3>Iscriviti alla nostra newsletter</h3>
<form action="{{ url }}" method="post" class="inline-form newsletter-form">           
	<p>Newsletter lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam similique laboriosam aspernatur tenetur minima reprehenderit aliquam itaque, architecto magnam numquam fuga, quam voluptas eius fugiat a nisi illo? Id, corrupti.</p>
	<fieldset>
		<legend>Sign up for our newsletter</legend>
		<label for="newsletter-scope">Sign up for our newsletter</label>
		<div class="inline-container">
			<input type="newsletter" placeholder="E-mail address" id="newsletter-field" class="newsletter-field" />
			<button class="btn newsletter-submit">Sign Me Up</button>
		</div>
	</fieldset>
</form>