<div class="newsletter mod">
	<h3 class="newsletter__title">Iscriviti alla nostra newsletter</h3>
	<form action="{{ url }}" method="post" class="inline-form newsletter-form">           
		<div class="colgroup-2">
			<div class="col">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab voluptates, eaque facilis minus aliquam libero consequatur voluptatum hic, neque placeat a, saepe aliquid iste quasi et accusantium. Quibusdam, saepe, minima!</p>
			</div>
			<div class="col">
				<fieldset>
					{{! <label for="newsletter-scope">Sign up for our newsletter</label> }}
					<div class="inline-container">
						{{! <input type="email" placeholder="johnny@cage.com" id="newsletter-field" /> }}
						<div class="field-container">
							<label for="emailaddress">Indirizzo Email</label>
							<input id="emailaddress" type="email" placeholder="john@cage.com">
							<small class="field-note">Niente spam. Giuro.</small>
						</div>
						<button class="btn newsletter-submit">Iscrivimi</button>
					</div>
				</fieldset>
			</div>
		</div>
	</form>
</div>