<!doctype html>
<!--[if lt IE 9]><html lang="en" class="no-js lt-ie9 {{ htmlClass }}" lang="en"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9 no-js {{ htmlClass }}"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js {{ htmlClass }}"><!--<![endif]-->
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />


		{{! Open Graph }}
		{{! 
		<meta name="description" content="La style guide di Emmaboshi studio."/>

		<meta property="og:title" content="Carmela" />
		<meta property="og:url" content="http://www.emmaboshi.net" />
		<meta property="og:image" content="images/logo.svg" />
		<meta property="og:description" content="Descrizione del progetto che verrà visualizzata sui social network." />
		<meta property="article:author" content="Emmaboshi (con un piccolo aiuto di Modo)"> 
		}}


		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{% pattern-lab-head %}
		<!-- End Pattern Lab -->

	</head>
	<body class="{{ bodyClass }}">
