{{> organisms-header }}

<div role="main">
	{{! Hero / masthead }}
	{{> molecules-block-hero-plus }}

	<div class="wrapper">

		{{! Single col }}
		<div class="colgroup">
			<div class="col">
				{{> molecules-heading-group }}
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta deserunt modi et cumque. Recusandae, dolorem nulla. Ipsum voluptates esse sit magnam! Dolorum suscipit veniam soluta dolores ducimus, inventore tenetur rerum?</p>
				<hr />
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa vel cum, porro, deleniti magni est repellendus dolor minima at similique deserunt! Error amet animi vitae quis, maiores veritatis ad asperiores.</p>
				<p><a href="#" class="btn">Bottone</a></p>

				{{! Gallery }}
				{{> organisms-gallery-basic }}
			</div>
		</div>

	</div>

	{{! Newsletter }}
	<div class="wrapper">
		{{> molecules-newsletter }}
	</div>

</div><!--End role=main-->

{{> organisms-cookie }}

{{> organisms-footer }}
