{{> organisms-header }}

<div role="main">
	{{! Hero / masthead }}
	{{> molecules-block-hero }}

	<div class="wrapper">
		<div class="colgroup">
			<div class="col">
				{{> molecules-heading-group }}

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt possimus dolore, dicta dolorum cum expedita in unde incidunt molestias fugiat, hic, necessitatibus et quam sed doloremque explicabo eos vero accusamus earum. Commodi id cum assumenda magnam eos ex non totam!</p>
			</div>
		</div>

		{{! Three cols }}
		{{> organisms-card-list }}

		{{> molecules-pagination }}

		<hr>

		<div class="colgroup mod">
			<div class="col">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde eveniet asperiores, beatae ipsa ex officiis ab laboriosam voluptatem. Culpa minus magni harum deserunt repellendus temporibus, sit cumque in sapiente rem.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt possimus dolore, dicta dolorum cum expedita in unde incidunt molestias fugiat, hic, necessitatibus et quam sed doloremque explicabo eos vero accusamus earum. Commodi id cum assumenda magnam eos ex non totam!</p>
			</div>
		</div>

		{{> molecules-newsletter }}

		<hr>

	</div>
	{{! Single col }}

</div><!--End role=main-->

{{> organisms-footer }}
