{{> organisms-header }}

<div role="main">
	{{! Hero / masthead }}
	{{> molecules-block-hero }}

	<div class="wrapper">
		<div class="colgroup">
			<div class="col">
				{{> molecules-heading-group }}

				{{> organisms-article-body }}
			</div>
		</div>

		{{! Three cols }}
		{{> organisms-card-list }}

		{{> molecules-pagination }}

	</div>
	{{! Single col }}

</div><!--End role=main-->

{{> organisms-footer }}
