{{> organisms-header }}

<div role="main">
	{{! Hero / masthead }}
	{{> molecules-block-hero }}

	<div class="wrapper">
		{{> organisms-article-body }}
	</div>

</div><!--End role=main-->

{{> organisms-footer }}
