{{> organisms-header }}

<div role="main">
	{{> molecules-heading-group }}

	<div class="wrapper wrapper-article">
		<article class="article">
			{{> organisms-article-body }}
		</article>
	</div>

</div><!--End role=main-->

{{> organisms-footer }}
