{{> organisms-header }}

<div role="main">

	{{> molecules-heading-group }}

	<div class="wrapper">

		{{! Three cols }}
		{{> organisms-card-list(cols: 2) }}

		{{> organisms-card-list(cols: 3) }}

		{{> organisms-card-list(cols: 4) }}

		{{> molecules-pagination }}

		<hr>
	</div>
	{{! Single col }}

</div><!--End role=main-->

{{> organisms-footer }}
