/* ==========================================================================
   Block
   ========================================================================== */

/* Block */
.block {
	overflow: hidden;
}

.headline {
	line-height: 1.2;
}

/* Hero Block */
$hero-background: $c-transparent-bg;

.block--hero {
	margin-bottom: 2rem;

	.block__thumb {

		img {
			display: block;
			width: 100%;
		}
	}

	.block__text {
		width: $wrapper-width-mobile;
		margin: 0 auto;

		p {
			max-width: $text-line-length;
			margin-left: auto;
			margin-right: auto;
		}
	}

	@include fromTablet {
		position: relative;

		.block__thumb {
			position: relative;

			&:after {
				background: $hero-background;
				bottom: 0;
				content: "";
				display: block;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
			}
		}

		.block__text {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			width: 700px;
			color: white;
			padding: 1.5rem;
			text-align: center;
		}
	}

	@media screen and (min-width: 1244px) { // needs 16:9 image

		.block__thumb {
			max-height: 700px;
			height: 700px;

			img {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				width: 100%;
			}
		}
	}
}

.block--hero.block--hero-plus {

	@include fromDesktop {
		.block__text {
			bottom: 2rem;
			top: auto;
			left: 0;
			transform: none;
			width: 100%;
			padding: 0 10%;
			max-width: none;
		}
	}
}

/* Block Thumbnail with Headline */
.block--thumb {
	display: table;
	width: 100%;
	border-collapse: collapse;

	.block__inner {
		display: table-row;
		vertical-align: top;
		overflow: hidden;
	}

	.block__thumb {
		@include fromTablet {
			display: table-cell;
			vertical-align: top;
			width: 30%;
			max-width: 10em;

			img {
				display: block;
				  width: 100%;
				  height: auto;
	 		}
 		}
	}

	.block__text {
		@include fromTablet {
			display: table-cell;
			width: 70%;
			padding: 0 1rem;
		}
	}
}

/* Block Card */
.block--card {
	position: relative;

	.block__thumb {
		float: left;
		height: 100px;
		overflow: hidden;
		position: relative;
		width: 100px;

		@include fromTablet {
			float: none;
			height: auto;
			overflow: visible;
			width: 100%;
		}

		img {
			position: absolute;
			top: 0;
			left: -15%;
			width: 130%;
			max-width: none;

			@include fromTablet {
				position: static;
				top: auto;
				left: auto;
				width: auto;
				max-width: 100%;
			}
		}
	}

	$block__text-padding: 110px;

	.block__text {
		box-sizing: content-box;
		padding-bottom: 1.2rem;
		padding-left: $block__text-padding;
		position: relative;

		p {
			display: none;
		}

		@include fromTablet {
			width: 100%;
			padding-left: 0;
		}

		@include fromDesktop {
			p {
				display: block;
			}
		}
	}

	.headline {
		margin: 0 0 .5rem;

		.colgroup-2 & {
			@include fromTablet {
				font-size: 170%;
			}
		}

		.colgroup-3 & {
			@include fromTablet {
				font-size: 130%;
			}
		}
	}

	time {
		@extend %small;
		bottom: 0;
		position: absolute;
		right: 5px;
	}

	.block__category {
		@extend %small;
		bottom: 0;
		left: $block__text-padding;
		position: absolute;

		@include fromTablet {
			left: 0;
		}
	}
}
