/* ==========================================================================
   #LAYOUT
   ========================================================================== */

// body {
// }

// main {
// }


/*
   Generic wrapper
   ========================================================================== */
%wrapper,
.wrapper {
	width: $wrapper-width-mobile;
	max-width: $desktop-breakpoint;
	margin: 0 auto;
	overflow: hidden;
}

.wrapper-article {
	text-align: center;

	> article {
		text-align: left;
		margin: 0 auto;
	}
}

article {
	max-width: $text-line-length;
}


/*
   Grid system
   ========================================================================== */

[class^="colgroup"] {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: space-around;

	.cards & {
		justify-content: space-between;
	}
}

.col {
	width: 100%;
	max-width: 100%;

	.colgroup > & {
		width: 95%;
		max-width: $text-line-length;

		.wrapper & {
			width: 100%;
		}
	}

	.colgroup-2 > & {

		@include fromTablet {
			width: 49%;
		}
	}

	.colgroup-3 > & {

		@include fromTablet {
			width: 32%;
		}
	}

	.colgroup-4 > & {
		width: 49%;

		@include onMobile {
			.cards & {
				width: 100%;
			}
		}

		@include fromTablet {
			width: 24%;
		}
	}

	.colgroup-5 > & {
		width: 33%;

		@include onMobile {
			.cards & {
				width: 100%;
			}
		}

		@include fromTablet {
			width: 20%;
		}
	}
}