<p class="intro">We see the 'It's' man sitting in the countryside in a garden lounger chair. A sexy young lady in a bikini hands him a glass of wine and gently helps him up and walks him to the camera.</p>