<header class="header" role="banner">
	<div class="header__address">
		<div class="wrapper">
			<p>via Orfeo 32/2b · 40124 Bologna, Italy · tel +39 051 7166511 . <a href="mailto:studio@emmaboshi.net">studio@emmaboshi.net</a></p>
		</div>
	</div>

	<div class="wrapper">
		{{> atoms-logo }}
		{{> atoms-logo-secondary }}

		<a href="javascript:;" class="nav__toggle j-nav-toggle" data-toggleclass-target=".j-nav">Menu <span class="icon-menu"></span></a>
	</div>

	{{> molecules-primary-nav }}
</header>
