<header class="header" role="banner">
	<p class="header__address">via Orfeo 32/2b · 40124 Bologna, Italy · tel +39 051 7166511 . <a href="mailto:studio@emmaboshi.net">studio@emmaboshi.net</a></p>

	{{> atoms-logo }}

	{{> atoms-logo-secondary }}

	<a href="#nav" class="nav-toggle nav-toggle-menu icon-menu"><span class="is-vishidden">Menu</span></a>
	{{> molecules-primary-nav }}
</header>
