<footer class="footer" role="contentinfo">
	{{> molecules-footer-nav }}

	<div class="colgroup-4">
		<div class="col">
			{{> molecules-address }}
		</div>
		<div class="col">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi quia facere cupiditate, non perferendis nam porro ullam incidunt nihil nesciunt.</p>
		</div>
		<div class="col">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi quia facere cupiditate ipsum unde dicta voluptatem ea asperiores sequi quibusdam maiores nobis</p>
		</div>
	</div>

	{{> molecules-credits }}
</footer>
