<footer class="footer" role="contentinfo">
	{{> molecules-footer-nav }}

	<div class="footer__main">
		<div class="footer__logo">
			{{> atoms-logo }}
		</div>
		<div class="colgroup-4">
			<div class="col">
				{{> atoms-square}}
				<p>Lorem ipsum dolor sit amet, consectetur.</p>
			</div>
			<div class="col">
				{{> atoms-square}}
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
			</div>
			<div class="col">
				{{> atoms-square}}
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
			</div>
			<div class="col">
				{{> atoms-square}}
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
			</div>
		</div>
	</div>

	{{> molecules-credits }}
</footer>
