<div class="cookie isActive j-cookie mod">
	<div class="wrapper">
		<div class="colgroup-2">
			<div class="col">
				<h3 class="cookie__title">Cookie Policy</h3>
				<p class="cookie__body">Questo sito usa i cookies. <a href="#">Leggi la nostra privacy</a>.</p>
			</div>
			<div class="col cookie__confirm">
				<a href="javascript:;" class="btn" data-toggleclass-target=".j-cookie">Accetta e chiudi</a>
			</div>
		</div>
	</div>
</div>