<nav class="nav j-nav">
	<ul class="nav__list">
		<li>
			<a class="nav__link" href="{{ url }}">Home</a>
		</li>
		<li class="hasSubpages j-navexample">
			<a class="nav__link" data-toggleclass-target=".j-navexample" href="javascript:;">About</a>
			<ul class="nav__sublist">
				<li><a class="nav__link" href=" {{ url }}">Subpage 1</a></li>
				<li><a class="nav__link" href=" {{ url }}">Subpage 2</a></li>
				<li><a class="nav__link" href=" {{ url }}">Subpage 3</a></li>
			</ul>
		</li>
		<li>
			<a class="nav__link" href="{{ url }}">Blog</a>
		</li>
		<li>
			<a class="nav__link" href="{{ url }}">Contact</a>
		</li>
		<li>
			<a class="nav__link" href="{{ url }}">Odd page</a>
		</li>
	</ul>
</nav><!--end .nav-->
