{{! Footer sponsor }}
<div class="wrapper footer__sponsor">
	<h3>Sponsor istituzionali</h3>
	<div class="colgroup-4">
		<div class="col">
			<a href="#">
				{{> atoms-square}}
			</a>
		</div>
		<div class="col">
			<a href="#">
				{{> atoms-square}}
			</a>
		</div>
		<div class="col">
			<a href="#">
				{{> atoms-square}}
			</a>
		</div>
		<div class="col">
			<a href="#">
				{{> atoms-square}}
			</a>
		</div>
	</div>
</div>