<nav class="nav nav--footer">
	<ul class="nav__list">
		<li><a class="nav__link" href="{{ url }}">Home</a></li>
		<li><a class="nav__link" href="{{ url }}">About</a></li>
		<li><a class="nav__link" href="{{ url }}">Blog</a></li>
		<li><a class="nav__link" href="{{ url }}">Contact</a></li>
		<li><a class="nav__link" href="{{ url }}">Odd page</a></li>
	</ul>
</nav>