<ol class="pagination">
	<li class="pagination__arrow prev"><a class="icon-arrow-left2" href="#"></a></li>
	<li class="current"><a href="{{ url }}">1</a></li>
	<li><a href="{{ url }}">…</a></li>
	<li><a href="{{ url }}">3</a></li>
	<li><a href="{{ url }}">4</a></li>
	<li><a href="{{ url }}">5</a></li>
	<li><a href="{{ url }}">…</a></li>
	<li><a href="{{ url }}">7</a></li>
	<li class="pagination__arrow next"><a class="icon-arrow-right2" href="#"></a></li>
</ol>