<ul class="tabs">
	<li>
		<a href="#">item1</a>
		<ul>
			<li><a href="">subItem1</a></li>
			<li><a href="">subItem2</a></li>
			<li><a href="">subItem3</a></li>
			<li><a href="">subItem4</a></li>
		</ul>
	</li>
	<li>
		<a href="#">item2</a>
		<ul>
			<li><a href="">subItem1</a></li>
			<li><a href="">subItem2</a></li>
			<li><a href="">subItem3</a></li>
			<li><a href="">subItem4</a></li>
		</ul>
	</li>
	<li>
		<a href="#">item3</a>
		<ul>
			<li><a href="">subItem1</a></li>
			<li><a href="">subItem2</a></li>
			<li><a href="">subItem3</a></li>
			<li><a href="">subItem4</a></li>
		</ul>
	</li>
	<li>
		<a href="#">item4</a>
		<ul>
			<li><a href="">subItem1</a></li>
			<li><a href="">subItem2</a></li>
			<li><a href="">subItem3</a></li>
			<li><a href="">subItem4</a></li>
		</ul>
	</li>
</ul>