/* ==========================================================================
   Footer
   ========================================================================== */

.footer {
	background-color: $c-footer-bg;
}

.footer__closing {
	background-color: $c-footer-bg-lighter;
}

.footer__contacts {
	background-color: $c-footer-bg-lighter;

}
