/*
	#FONTS
	========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,700|Oswald:700);

$font-primary: 'Oswald', Times, Helvetica, Arial, sans-serif;

%font-primary {
	font-family: $font-primary;
}

$font-secondary: 'Work Sans', Helvetica, Arial, sans-serif;

%font-secondary {
	font-family: $font-secondary;
}
