/*
   #LAYOUT
   ========================================================================== */



/*
   #COLORS
   ========================================================================== */

// $default-fg: #3c3c3c;
// $default-bg: white;

/* Primary colors */
$c-primary: #fc5728;
$c-primary-lighten: lighten($c-primary, 30%);
$c-primary-darken: darken($c-primary, 20%);
$c-secondary: #e50e46;
$c-secondary-lighten: lighten($c-secondary, 30%);
$c-secondary-darken: darken($c-secondary, 20%);

/* Grayscale */
$c-black: #000000;
$c-dark-grey: #333333;
$c-medium-grey: #767676;
$c-light-grey: #e3e3e3;
$c-lightest-grey: #f6f6f6;
$c-borders: $c-medium-grey;
$c-transparent-bg: rgba(0,0,0,.5);

/* Social */
$c-facebook-blue: #3b5998;
$c-twitter-blue: #55acee;
$c-googleplus-red: #dd4b39;
$c-pinterest-red: #cb2027;
$c-linkedin-blue: #007bb6;
$c-youtube-red: #bb0000;
$c-vimeo-green: #aad450;
$c-tumblr-blue: #32506d;
$c-instagram-blue: #517fa4;

/* Messaging */
$c-success-green: #24e354;
$c-warning-orange: #fd892c;
$c-error-red: #fc1e29;

/* Generic text variables */
$text-line-height: 1.5rem;
$text-line-length: 36rem;

/* Form text variables */
$form-line-height: 1.6875rem;
$form-padding: .8rem .8rem .6rem;

/*
	#MEDIA QUERIES
	========================================================================== */

// responsive variables used in mixins.scss
$mobile-breakpoint: 29em; // mobile portrait width ~400
$tablet-breakpoint: 48em; // tablet portrait width ~768
$desktop-breakpoint: 64em; // desktop landscape width ~1152
$cinema-breakpoint: 88em; // cinema landscape width ~1200

// mobile only variables
$wrapper-width-mobile: 92%;