/* ==========================================================================
   #FORMS
   ========================================================================== */

form ol,
form ul {
	padding-left: 0;
	list-style: none;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}


/*
   Input and buttons
   ========================================================================== */

button,
input[type="submit"] {
}

textarea,
select,
input[type='url'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='datetime'],
input[type='datetime-local'],
input[type='number'],
input[type='text'] {
	border-radius: 4px;
	border: solid 2px $c-medium-grey;
	font-size: 1rem;
	line-height: $form-line-height;
	padding: $form-padding;
	min-width: 22rem;

	.is-wrong & {
		background-image: url("../images/arrow-left.svg");
		background-position: right 12px top 14px;
		background-size: 20px 20px;
		background-repeat: no-repeat;
		border-color: $c-error-red;
	}

	.is-valid & {
		background-image: url("../images/checkmark.svg");
		background-position: right 12px top 14px;
		background-size: 20px 20px;
		background-repeat: no-repeat;
		border-color: $c-success-green;
	}
}

textarea {
	@extend %font-body;
}

select {
	background-image: url("../images/chevron-down.svg");
	background-position: right 12px top 14px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	-moz-appearance: none;
	text-overflow: "";
	min-width: 150px;
}

input[type="checkbox"],
input[type="radio"] {
	margin-right: 5px;
	line-height: $form-line-height;
}

/*
   Labels and containers
   ========================================================================== */

label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.2rem;
}

.field-container {
	margin-bottom: 2rem;
}

.field-note {
	margin-top: 0.4rem;
	display: block;
	color: c-medium-grey;

	.is-wrong & {
		color: $c-error-red;
	}
}
