/* ==========================================================================
   images
   ========================================================================== */

img {
	max-width: 100%;
	height: auto;
}

figure {
	margin: 0 0 1rem;

	img {
		display: block;
	}
}

figcaption {
	@extend %small;
	padding: .4rem .6rem 1rem 0;
	color: $c-medium-grey;
}

article a > img {
	opacity: 1;

	&:hover,
	&:focus {
		opacity: .85;
	}
}