/* ==========================================================================
   images
   ========================================================================== */

img {
	max-width: 100%;
}

figure {
	margin: 0 0 1rem;

	img {
		display: block;
	}
}

figcaption {
	@extend %small;
	padding: .4rem .6rem 1rem 0;
	color: $c-medium-grey;
}
