/* ==========================================================================
   #TEXT ELEMENTS
   ========================================================================== */

/*
   #General
   ========================================================================== */

%font-body {
	@extend %font-secondary;
}

body {
	@extend %font-body;
	color: $c-dark-grey;
	font-size: 16px;
}

p,
ul,
ol,
dl {
	line-height: $text-line-height;
}

p {
	@extend %font-body;
	margin: 0 0 1rem;

	article & {
		max-width: 40rem;
	}
}

a {
	text-decoration: none;
	color: $c-primary;

	&:hover,
	&:focus {
		text-decoration: underline;
	}

}


/*
   #Headings
   ========================================================================== */

%font-headings {
	@extend %font-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@extend %font-body;
}

.page-title {
	@extend %font-headings;
	font-size: 3rem;
	
	@include onMobile {
		line-height: 3rem;
	}

	@include fromDesktop {
		font-size: 5rem;
		letter-spacing: 1px;
	}
}

// %h1,
// h1 {

// %h2,
// h2 {
// }
//
// %h3,
// h3 {
// }
//
// %h4,
// h4 {
// }
//
// %h5,
// h5 {
// }


/*
   #Quote
   ========================================================================== */

blockquote {
	border-left: solid 5px $c-light-grey;
	margin: 0;
	padding: 0 1.5rem 0 1.5rem;

	@include fromTablet {
		padding-left: 2.5em;
	}
}