/* ==========================================================================
   #TEXT ELEMENTS
   ========================================================================== */

/*
   #General
   ========================================================================== */

%font-body {
	@extend %font-secondary;
}

body {
	@extend %font-body;
	font-size: 16px;

	* {
		ont-variant-ligatures: common-ligatures;
		-moz-font-feature-settings: "liga", "clig";
		-webkit-font-feature-settings: "liga", "clig";
		font-feature-settings: "liga", "clig";
	}
}

p,
ul,
ol,
dl {
	line-height: $text-line-height;
}

p {
	@extend %font-body;
	margin: 0 0 1rem;

	@include untilTablet {
		line-height: 1.5rem;
	}

	&.intro {
		font-size: 1.3rem;
		line-height: 1.9rem;
	}
}

a {
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

hr {
	border: 0; 
	height: 1px; 
	margin: 3rem 0;
}

/*
   #Headings
   ========================================================================== */

%font-headings {
	@extend %font-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@extend %font-body;
}

%page-title,
.page-title {
	@extend %font-headings;
	font-size: 3rem;
	line-height: 3.6rem;

	@include fromTablet {
		font-size: 4rem;
		line-height: 4.8rem;
	}

	@include fromDesktop {
		font-size: 5rem;
		line-height: 6rem;
	}
}

// %h1,
// h1 {

// %h2,
// h2 {
// }
//
// %h3,
// h3 {
// }
//
// %h4,
// h4 {
// }
//
// %h5,
// h5 {
// }


/*
   #Quote
   ========================================================================== */

blockquote {
	border-left: solid 5px $c-light-grey;
	margin: 0;
	padding: 0 1.5rem 0 1.5rem;

	@include fromTablet {
		padding-left: 2.5rem;
	}
}

/*
   #Heading group
   ========================================================================== */

.hgroup {
	text-align: center;
	max-width: 95%;
	margin: 0 auto 3rem;

	@include fromTablet {
		margin: 3rem auto;
	}
	.page-title {

		+ * {
			color: $c-medium-grey;
		}
	}
}