/* ==========================================================================
   #TEXT ELEMENTS
   ========================================================================== */

/*
   #General
   ========================================================================== */

%font-body {
	@extend %font-secondary;
}

body {
	@extend %font-body;
	color: $c-dark-grey;
	font-size: 16px;
}

p,
ul,
ol,
dl {
	line-height: $text-line-height;
}

p {
	@extend %font-body;
	margin-bottom: .5rem;

	article & {
		max-width: 40rem;
	}
}

a {
	text-decoration: none;
	color: $c-primary;

	&:hover,
	&:focus {
		text-decoration: underline;
	}

}


/*
   #Headings
   ========================================================================== */

%font-headings {
	@extend %font-primary;
}

h2,
h3,
h4,
h5,
h6 {
	@extend %font-body;
}

%h1,
h1 {
   @extend %font-headings;
}

// %h2,
// h2 {
// }
//
// %h3,
// h3 {
// }
//
// %h4,
// h4 {
// }
//
// %h5,
// h5 {
// }
