{{! To be used as article author }}
<footer class="vcard author">
	<a class="avatar" href="#">
		{{> atoms-avatar }}
	</a>
	<div class="author">di <a class="fn url" href="#">Andrea De Carolis</a></div>
	<div class="contact"><a href="#">@decarola</a></div>
	<abbr class="published command" title="2016-01-29T16:00:00+00:00">29th January 2016</abbr>
</footer>