
<div class="gallery j-gallery mod">
	<a href="{{ img.landscape-4x3.src }}">
		{{> atoms-landscape-4x3 }}
	</a>
	<a href="{{ img.landscape-4x3.src }}">
		{{> atoms-landscape-4x3 }}
	</a>
	<a href="{{ img.landscape-4x3.src }}">
		{{> atoms-landscape-4x3 }}
	</a>
	<a href="{{ img.landscape-4x3.src }}">
		{{> atoms-landscape-4x3 }}
	</a>
</div>
{{! 
<img src="IMG_1577.jpg" alt="sample"/>
<img src="IMG_1694.jpg" alt="sample"/>
<img src="IMG_2413.jpg" alt="sample"/>
<img src="IMG_2727.jpg" alt="sample"/>
<img src="IMG_2872.jpg" alt="sample"/>
<img src="IMG_3054.jpg" alt="sample"/>
<img src="IMG_3173.jpg" alt="sample"/>
<img src="IMG_4268.jpg" alt="sample"/>
 }}
