<div class="demo">
	<div class="colgroup-5">
		<div class="col">1/5</div>
		<div class="col">1/5</div>
		<div class="col">1/5</div>
		<div class="col">1/5</div>
		<div class="col">1/5</div>
	</div>
</div>