/* ==========================================================================
   Card
   ========================================================================== */

.card {
	border-bottom: solid 1px $c-borders;
	margin-bottom: 1rem;

	@include onMobile {
		&:last-child {
			border-bottom: none;
		}
	}
}

.cards__title {
	border-top: solid 2px $c-borders;
	margin: 0;
	padding: .5rem 0 .6rem;
	width: 100%;
}