/* ==========================================================================
   Card
   ========================================================================== */

.card {
	margin-bottom: 1rem;

	@include fromTablet {
		margin-bottom: 2rem;
	}
}

.cards__title {
	border-top: solid 2px $c-borders;
	margin: 0;
	padding: .5rem 0 .6rem;
	width: 100%;
}