/* ==========================================================================
   Cookie
   ========================================================================== */


.cookie {
	background-color: $c-lightest-grey;
	border-top: solid 1px $c-medium-grey;
	display: none;

	&.isActive {
		bottom: 0;
		display: block;
		left: 0;
		position: fixed;
		right: 0;
		z-index: 2;
	}

	&.mod {
		margin-bottom: 0;
	}
}

.cookie__title {
	margin: 0;
}

.cookie__body {

	@include fromTablet {
		margin-bottom: 0;
	}
}

.cookie__confirm {
	margin-bottom: 0;

	@include fromTablet {
		text-align: right;
	}
}
