/* ==========================================================================
   Page header
   ========================================================================== */


.header {
	text-align: center;
	position: relative;

	.logo,
	.logo-secondary {
		display: block;
	}

	.logo {
		max-width: 20em;
	}

	.logo-secondary {
		max-width: 8em;
	}
}

.header__address {
	text-align: center;
}

