/* ==========================================================================
   Page header
   ========================================================================== */


.header {

	@include fromTablet {
		text-align: center;
	}

	.wrapper {
		position: relative;
	}

	.logo,
	.logo-secondary {
		img {
			width: 100%;
		}
	}

	.logo {
		display: inline-block;
		margin: 1.5rem auto;
		max-width: 20em;
		width: 60%;

		@include fromTablet {
			margin: 2.5rem auto;
		}
	}

	.logo-secondary {
		display: none;

		@include fromTablet {
			display: inline-block;
			position: absolute;
			right: 0;
			top: 10px;
			max-width: 120px;
			width: 20%;
		}
	}
}

.header__address {
	@extend %small;
	text-align: center;
	padding: 1rem 0;
	background-color: $c-primary-lighten;

	p {
		margin-bottom: 0;
	}
}

