/* ==========================================================================
   Page header
   ========================================================================== */


.header {

	@include fromTablet {
		text-align: center;
	}

	.wrapper {
		position: relative;
	}

	.logo {
		display: inline-block;
		margin: 2rem auto;
		max-width: 20em;
		width: 60%;
	}

	.logo-secondary {
		display: none;

		@include fromTablet {
			display: inline-block;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}

.header__address {
	@extend %small;
	text-align: center;
	padding: 1rem 0;
	background-color: $c-primary-lighten;

	p {
		margin-bottom: 0;
	}
}

