<div class="cards mod">
	<h2 class="cards__title">Gennaio 2016</h2>

	<div class="colgroup-{{ cols }}">
	{{# touts}}
		<div class="card col">
			{{> molecules-block-card }}
		</div>
	{{/ touts}}
	</div>
</div><!--end 3up-->