{{^iconTextDebug}}
<i class="icon icon-{{styleModifier}}{{id}}{{#small}} icon-small{{/small}}{{#xsmall}} icon-xsmall{{/xsmall}}{{#nocircle}} icon-nocircle{{/nocircle}}{{#tinted}} icon-tinted{{/tinted}}{{#hasFeedback}} icon-hasFeedback{{/hasFeedback}}"{{#disabled}} data-disabled{{/disabled}}><svg><desc>{{#hasDescription}}{{iconDescription}}{{/hasDescription}}{{^hasDescription}}{{styleModifier}}{{/hasDescription}}</desc><use xlink:href="{{iconFilePath}}#icon-{{styleModifier}}{{id}}"/></svg></i>
{{/iconTextDebug}}
{{#iconTextDebug}}
<i class="icon js-iconsUpdated icon-{{styleModifier}}{{id}}{{#small}} icon-small{{/small}}{{#xsmall}} icon-xsmall{{/xsmall}}{{#nocircle}} icon-nocircle{{/nocircle}}{{#tinted}} icon-tinted{{/tinted}}{{#hasFeedback}} icon-hasFeedback{{/hasFeedback}}"{{#disabled}} data-disabled{{/disabled}}><span>{{#hasDescription}}{{iconDescription}}{{/hasDescription}}{{^hasDescription}}{{styleModifier}}{{/hasDescription}}</span></i>
{{/iconTextDebug}}