		<img class="{{ styleModifier }}" sizes="(max-width: 639px) 100vw,
				(max-width: 767px) 90vw,
				(max-width: 989px) 100vw,
				(max-width: 1279px) 80vw,
				(min-width: 1280px) 652px"
		srcset="http://placehold.it/688x287&text=responsive%20688x287 688w,
			http://placehold.it/924x385&text=responsive%20924x385 924w,
			http://placehold.it/1470x612&text=responsive%201470x612 1470w,
			http://placehold.it/1848x770&text=responsive%201848x770 1848w"
		{{! src="http://placehold.it/924/385&text=fallback%20924x385" }} alt="Immagine Foglia">
