<ul class="icons inline-list">
	<li class="icon-menu"></li>
	<li class="icon-image"></li>
	<li class="icon-images"></li>
	<li class="icon-camera"></li>
	<li class="icon-music"></li>
	<li class="icon-play"></li>
	<li class="icon-diamonds"></li>
	<li class="icon-file-empty"></li>
	<li class="icon-folder-open"></li>
	<li class="icon-price-tag"></li>
	<li class="icon-cart"></li>
	<li class="icon-credit-card"></li>
	<li class="icon-phone"></li>
	<li class="icon-location"></li>
	<li class="icon-compass"></li>
	<li class="icon-compass2"></li>
	<li class="icon-map"></li>
	<li class="icon-map2"></li>
	<li class="icon-clock"></li>
	<li class="icon-calendar"></li>
	<li class="icon-download"></li>
	<li class="icon-upload"></li>
	<li class="icon-bubble"></li>
	<li class="icon-bubbles"></li>
	<li class="icon-user"></li>
	<li class="icon-quotes-left"></li>
	<li class="icon-quotes-right"></li>
	<li class="icon-search"></li>
	<li class="icon-enlarge2"></li>
	<li class="icon-shrink2"></li>
	<li class="icon-cog"></li>
	<li class="icon-link"></li>
	<li class="icon-bookmark"></li>
	<li class="icon-star-full"></li>
	<li class="icon-heart"></li>
	<li class="icon-plus"></li>
	<li class="icon-minus"></li>
	<li class="icon-cross"></li>
	<li class="icon-checkmark"></li>
	<li class="icon-play3"></li>
	<li class="icon-stop2"></li>
	<li class="icon-loop2"></li>
	<li class="icon-infinite"></li>
	<li class="icon-arrow-up-left2"></li>
	<li class="icon-arrow-up2"></li>
	<li class="icon-arrow-up-right2"></li>
	<li class="icon-arrow-right2"></li>
	<li class="icon-arrow-down-right2"></li>
	<li class="icon-arrow-down2"></li>
	<li class="icon-arrow-down-left2"></li>
	<li class="icon-arrow-left2"></li>
	<li class="icon-checkbox-checked"></li>
	<li class="icon-checkbox-unchecked"></li>
	<li class="icon-radio-checked"></li>
	<li class="icon-radio-checked2"></li>
	<li class="icon-radio-unchecked"></li>
	<li class="icon-share"></li>
	<li class="icon-new-tab"></li>
	<li class="icon-google-plus"></li>
	<li class="icon-google-plus2"></li>
	<li class="icon-facebook"></li>
	<li class="icon-facebook2"></li>
	<li class="icon-instagram"></li>
	<li class="icon-whatsapp"></li>
	<li class="icon-twitter"></li>
	<li class="icon-youtube"></li>
	<li class="icon-youtube2"></li>
	<li class="icon-vimeo"></li>
	<li class="icon-vimeo2"></li>
	<li class="icon-flickr"></li>
	<li class="icon-flickr2"></li>
	<li class="icon-tumblr"></li>
	<li class="icon-tumblr2"></li>
	<li class="icon-skype"></li>
	<li class="icon-linkedin"></li>
	<li class="icon-linkedin2"></li>
	<li class="icon-pinterest"></li>
</ul>