			<img class="{{ styleModifier }}" sizes="(max-width: 639px) 100vw,
				(max-width: 1279px) 30vw,
				(min-width: 1280px) 20vw"
		srcset="../../images/sample/milan_738_s.png 320w,
			../../images/sample/milan_738_l.png 640w"
		{{! src="../../images/sample/milan_738_s.png" }} alt="Immagine Conduttore">
