		<img class="{{ styleModifier }}" sizes="(max-width: 639px) 100vw,
				(max-width: 9899px) 32vw,
				(max-width: 1279px) 23vw,
				(min-width: 1280px) 322px"
		srcset="http://placehold.it/320x240&text=responsive%20320x240 320w,
			http://placehold.it/738x552&text=responsive%20738x552 738w,
			http://placehold.it/1216x819&text=responsive%201216x819 1216w"
		alt="Immagine Podcast / Notizia">

		{{! src="http://placehold.it/738x552&text=fallback%20738x552" }} 
