{{^hideBig}}
<table>
	<thead>
		<tr>
			<th title="Ordinamento crescente" role="columnheader button" tabindex="0" class="headerSort">Nome</th>
			<th title="Ordinamento crescente" role="columnheader button" tabindex="0" class="headerSort">Simbolo</th>
			<th title="Ordinamento crescente" role="columnheader button" tabindex="0" class="headerSort">Estensione</th>
			<th title="Ordinamento crescente" role="columnheader button" tabindex="0" class="headerSort">Lunghezza d'onda</th>
			<th class="unsortable">Applicazioni</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="/wiki/Extremely_low_frequency" title="Extremely low frequency">Extremely low frequency</a></td>
			<td>ELF</td>
			<td>da 3 a 30&nbsp;Hz</td>
			<td>da 100.000&nbsp;km a 10.000&nbsp;km</td>
			<td><a href="/w/index.php?title=Comunicazioni_tra_sottomarini&amp;action=edit&amp;redlink=1" class="new" title="Comunicazioni tra sottomarini (la pagina non esiste)">comunicazioni tra sottomarini</a></td>
		</tr>
		<tr>
			<td><a href="/wiki/Super_low_frequency" title="Super low frequency">Super low frequency</a></td>
			<td>SLF</td>
			<td>da 30 a 300&nbsp;Hz</td>
			<td>da 10.000&nbsp;km a 1.000&nbsp;km</td>
			<td><a href="/wiki/Distribuzione_di_energia_elettrica" title="Distribuzione di energia elettrica">distribuzione di energia elettrica</a> (50 hertz e 60 hertz)</td>
		</tr>
		<tr>
			<td><a href="/wiki/Ultra_low_frequency" title="Ultra low frequency">Ultra low frequency</a></td>
			<td>ULF</td>
			<td>da 300&nbsp;Hz a 3&nbsp;kHz</td>
			<td>da 1.000&nbsp;km a 100&nbsp;km</td>
			<td>rilevamento dei <a href="/wiki/Minerale" title="Minerale">minerali</a></td>
		</tr>
		<tr>
			<td><a href="/wiki/Very_low_frequency" title="Very low frequency">Very low frequency</a></td>
			<td>VLF</td>
			<td>da 3 a 30&nbsp;kHz</td>
			<td>da 100&nbsp;km a 10&nbsp;km</td>
			<td>LORAN, apparati per la navigazione aerea</td>
		</tr>
		<tr>
			<td><a href="/wiki/Low_frequency" title="Low frequency">Low frequency</a></td>
			<td>LF</td>
			<td>da 30 a 300&nbsp;kHz</td>
			<td>da 10&nbsp;km a 1&nbsp;km</td>
			<td><a href="/w/index.php?title=Trasmissioni_internazionali&amp;action=edit&amp;redlink=1" class="new" title="Trasmissioni internazionali (la pagina non esiste)">trasmissioni internazionali</a>, <a href="/wiki/Non-directional_beacon" title="Non-directional beacon">navigational beacons</a>, <a href="/w/index.php?title=LowFER&amp;action=edit&amp;redlink=1" class="new" title="LowFER (la pagina non esiste)">lowFER</a></td>
		</tr>
		<tr>
			<td><a href="/wiki/Medium_frequency" title="Medium frequency" class="mw-redirect">Medium frequency</a></td>
			<td>MF</td>
			<td>da 300 a 3000&nbsp;kHz</td>
			<td>da 1&nbsp;km a 100&nbsp;m</td>
			<td><a href="/wiki/Non-directional_beacon" title="Non-directional beacon">navigational beacons</a>, <a href="/wiki/Radiocomunicazione" title="Radiocomunicazione">trasmissioni radio</a> <a href="/wiki/Modulazione_di_ampiezza" title="Modulazione di ampiezza">AM</a>, comunicazioni marittime e aeronautiche</td>
		</tr>
		<tr>
			<td><a href="/wiki/High_frequency" title="High frequency" class="mw-redirect">High frequency</a></td>
			<td>HF</td>
			<td>da 3 a 30&nbsp;MHz</td>
			<td>da 100&nbsp;m a 10&nbsp;m</td>
			<td><a href="/wiki/Shortwave" title="Shortwave" class="mw-redirect">shortwave</a>, <a href="/wiki/Banda_cittadina" title="Banda cittadina">banda cittadina</a></td>
		</tr>
		<tr>
			<td><a href="/wiki/Very_high_frequency" title="Very high frequency">Very high frequency</a></td>
			<td>VHF</td>
			<td>da 30 a 300&nbsp;MHz</td>
			<td>da 10&nbsp;m a 1&nbsp;m</td>
			<td><a href="/wiki/Radiocomunicazione" title="Radiocomunicazione">trasmissioni radio</a> <a href="/wiki/Modulazione_di_frequenza" title="Modulazione di frequenza">FM</a>, <a href="/wiki/Trasmissioni_televisive" title="Trasmissioni televisive" class="mw-redirect">trasmissioni televisive</a>, <a href="/w/index.php?title=Airband&amp;action=edit&amp;redlink=1" class="new" title="Airband (la pagina non esiste)">aviation</a></td>
		</tr>
		<tr>
			<td><a href="/wiki/Ultra_high_frequency" title="Ultra high frequency">Ultra high frequency</a></td>
			<td>UHF</td>
			<td>da 300 a 3000&nbsp;MHz</td>
			<td>da 100&nbsp;cm a 10&nbsp;cm</td>
			<td><a href="/wiki/Trasmissioni_televisive" title="Trasmissioni televisive" class="mw-redirect">trasmissioni televisive</a>, <a href="/wiki/Telefono_cellulare" title="Telefono cellulare">telefono cellulare</a>, <a href="/wiki/Reti_wireless" title="Reti wireless" class="mw-redirect">reti wireless</a>, <a href="/wiki/Forno_a_microonde" title="Forno a microonde">forni a microonde</a>, satelliti orbitanti, radiomicrofoni (se rimane banda libera).</td>
		</tr>
		<tr>
			<td><a href="/wiki/Super_high_frequency" title="Super high frequency">Super high frequency</a></td>
			<td>SHF</td>
			<td>da 3 a 30&nbsp;GHz</td>
			<td>da 10&nbsp;cm a 1&nbsp;cm</td>
			<td><a href="/wiki/Reti_wireless" title="Reti wireless" class="mw-redirect">reti wireless</a>, <a href="/wiki/Radar" title="Radar">radar</a>, satellite links.</td>
		</tr>
		<tr>
			<td><a href="/wiki/Extremely_high_frequency" title="Extremely high frequency">Extremely high frequency</a></td>
			<td>EHF</td>
			<td>da 30 a 300&nbsp;GHz</td>
			<td>da 10&nbsp;mm a 1&nbsp;mm</td>
			<td><a href="/wiki/Microonde" title="Microonde">microonde</a> data links, <a href="/wiki/Radioastronomia" title="Radioastronomia">radioastronomia</a>, <a href="/wiki/Remote_sensing" title="Remote sensing" class="mw-redirect">remote sensing</a>, <a href="/wiki/Sistema_d%27arma" title="Sistema d'arma" class="mw-redirect">sistemi d'arma</a> avanzati, <a href="/w/index.php?title=Security_scan&amp;action=edit&amp;redlink=1" class="new" title="Security scan (la pagina non esiste)">security scanning</a></td>
		</tr>
	</tbody>
</table>
{{/hideBig}}

{{^hideSmall}}
<table>
	<thead>
		<tr>
			<th class="align-center" colspan="4">Temperature</th>
			<th colspan="1">Precipitation</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Months</th>
			<th class="align-right">Normal</th>
			<th class="align-right" colspan="1">Warmest</th>
			<th class="align-right" colspan="1">Coldest</th>
			<th class="align-right">Normal</th>
		</tr>
		<tr>
			<td>January</td>
			<td class="align-right">0.6°C</td>
			<td class="align-right">2.9°C</td>
			<td class="align-right">-1.9°C</td>
			<td class="align-right">10</td>
		</tr>
		<tr>
			<td>February</td>
			<td class="align-right">1.4°C</td>
			<td class="align-right">4.2°C</td>
			<td class="align-right">-1.5°C</td>
			<td class="align-right">8</td>
		</tr>
		<tr>
			<td>March</td>
			<td class="align-right">4.8°C</td>
			<td class="align-right">8.5°C</td>
			<td class="align-right">1.3°C</td>
			<td class="align-right">9</td>
		</tr>
		<tr>
			<td>April</td>
			<td class="align-right">8.9°C</td>
			<td class="align-right">13.2°C</td>
			<td class="align-right">4.2°C</td>
			<td class="align-right">7</td>
		</tr>
		<tr>
			<td>May</td>
			<td class="align-right">14.3°C</td>
			<td class="align-right">18.9°C</td>
			<td class="align-right">9.0°C</td>
			<td class="align-right">8</td>
		</tr>
		<tr>
			<td>June</td>
			<td class="align-right">17.1°C</td>
			<td class="align-right">21.6°C</td>
			<td class="align-right">12.3°C</td>
			<td class="align-right">9</td>
		</tr>
		<tr>
			<td>July</td>
			<td class="align-right">19.2°C</td>
			<td class="align-right">23.7°C</td>
			<td class="align-right">14.3°C</td>
			<td class="align-right">8</td>
		</tr>
		<tr>
			<td>August</td>
			<td class="align-right">18.9°C</td>
			<td class="align-right">23.6°C</td>
			<td class="align-right">14.1°C</td>
			<td class="align-right">7</td>
		</tr>
		<tr>
			<td>September</td>
			<td class="align-right">14.5°C</td>
			<td class="align-right">18.8°C</td>
			<td class="align-right">10.6°C</td>
			<td class="align-right">7</td>
		</tr>
		<tr>
			<td>October</td>
			<td class="align-right">9.7°C</td>
			<td class="align-right">13.4°C</td>
			<td class="align-right">6.4°C</td>
			<td class="align-right">7</td>
		</tr>
		<tr>
			<td>November</td>
			<td class="align-right">4.7°C</td>
			<td class="align-right">7.1°C</td>
			<td class="align-right">2.2°C</td>
			<td class="align-right">9</td>
		</tr>
		<tr>
			<td>December</td>
			<td class="align-right">2.0°C</td>
			<td class="align-right">4.1°C</td>
			<td class="align-right">-0.4°C</td>
			<td class="align-right">11</td>
		</tr>
	</tbody>
	<tfoot>
		<th>Average</th>
		<th class="align-right">2.0°C</th>
		<th class="align-right">4.1°C</th>
		<th class="align-right">-0.4°C</th>
		<th class="align-right">11</th>
	</tfoot>
</table>
{{/hideSmall}}