<div class="single-block">
	<h1 class="page-title">Even in close-up, with her eyes the color of Caribbean shallows filling the screen, Kristen Stewart</h1>
	<p>Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Fugiat accusantium hic ut, ducimus doloremque voluptas corporis non accusamus illum tenetur velit deserunt voluptate commodi aliquid, quidem quam laudantium porro quas.</p>
</div>
<div class="t-invert single-block">
	<h1 class="page-title">Even in close-up, with her eyes the color of Caribbean shallows filling the screen, Kristen Stewart</h1>
	<p>Minima pariatur voluptate iusto est <a href="#">exercitationem</a> rem cupiditate fuga voluptates ratione? Veniam, explicabo deleniti adipisci nam et doloribus, cupiditate laborum nihil. Voluptate magni consequatur ipsam nisi reprehenderit. Vero, nostrum, optio.</p>
</div>
<div class="t-primary single-block">
	<h1 class="page-title">Even in close-up, with her eyes the color of Caribbean shallows filling the screen, Kristen Stewart</h1>
	<p>Obcaecati nesciunt <a href="#">saepe beatae</a> et vitae mollitia error repellendus fugit consequatur reprehenderit nobis perspiciatis quisquam a, laborum fuga voluptatibus odit odio officiis corporis magni deleniti, ex. Animi minima odit eos!</p>
</div>
<div class="t-greyscale single-block">
	<h1 class="page-title">Even in close-up, with her eyes the color of Caribbean shallows filling the screen, Kristen Stewart</h1>
	<p>Vero quisquam et nisi fugiat <a href="#">incidunt iste ut</a> necessitatibus repellendus consequatur, similique voluptate, excepturi labore magnam cupiditate accusamus blanditiis numquam commodi quas, reiciendis ad. Eligendi iusto necessitatibus sequi ipsam fuga?</p>
</div>
<div class="t-greyscale t-invert single-block">
	<h1 class="page-title">Even in close-up, with her eyes the color of Caribbean shallows filling the screen, Kristen Stewart</h1>
	<p>Iste obcaecati officiis <a href="#">voluptatibus</a> iure totam eaque labore facere, distinctio dolorum! Ipsam modi fuga tempore, adipisci, pariatur quisquam ex cumque repellendus minima nam eaque rem earum totam delectus. Ipsum, perspiciatis.</p>
</div>