<div class="block block--hero block--hero-plus">
	<div class="block__inner">
		<div class="block__thumb">
			{{> atoms-landscape-16x9 }} 
		</div>
		<div class="block__text">
			<h1 class="page-title">{{ headline.medium }}</h1>
			<p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing elit</a>. Vel quos veritatis quasi impedit, cum eius fuga in possimus, repudiandae, assumenda nemo? Natus non quaerat laborum, aliquam cumque enim amet eligendi.</p>
			<a href="#" class="btn">Scopri di più</a>
		</div>
	</div>
</div>