<div class="block block-hero">
	<div class="b-inner">
		<div class="b-thumb">
			{{> atoms-landscape-16x9 }} 
		</div>
		<div class="b-text col">
			<h1 class="b-title page-title">{{ headline.short }}</h1>
		</div>
	</div>
</div>