<div class="block block--card">
		<div class="block__thumb">
			<a href="{{ url }}" class="">
				{{> atoms-landscape-4x3 }} 
			</a>
		</div>
		<div class="block__text">
			<h2 class="headline">
				<a href="{{ url }}" class="">{{ headline.short }}</a>
			</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, illum!</p>
			{{> atoms-time }}
			<div class="block__category">Attualità</div>
		</div>
	</a>
</div>