<div class="block block-hero block-hero-plus">
	<a href="{{ url }}" class="b-inner">
		<div class="b-thumb">
			{{> atoms-landscape-16x9 }} 
		</div>
		<div class="b-text">
			<h2 class="b-title">{{ headline.medium }}</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quos veritatis quasi impedit, cum eius fuga in possimus, repudiandae, assumenda nemo? Natus non quaerat laborum, aliquam cumque enim amet eligendi.</p>
			<a href="#" class="btn">Scopri di più</a>
		</div>
	</a>
</div>