<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #fc5728;"></span>
		<span class="sg-label">primary<br/>#fc5728</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #fdab8d;"></span>
		<span class="sg-label">primary lighten<br/>#fdab8d</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #7e2b12;"></span>
		<span class="sg-label">primary darken<br/>#7e2b12</span>
	</li>

	<li>
		<span class="sg-swatch" style="background: #e50e46;"></span>
		<span class="sg-label">secondary<br/>#e50e46</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f087a2;"></span>
		<span class="sg-label">secondary lighten<br/>#f087a2</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #710a25;"></span>
		<span class="sg-label">secondary darken<br/>#710a25</span>
	</li>

	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">black<br/>#000000</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #333333;"></span>
		<span class="sg-label">dark grey<br/>#333333</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #767676;"></span>
		<span class="sg-label">medium grey<br/>#767676</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e3e3e3;"></span>
		<span class="sg-label">light grey<br/>#e3e3e3</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f6f6f6;"></span>
		<span class="sg-label">lightest grey<br/>#f6f6f6</span>
	</li>

	<li>
		<span class="sg-swatch" style="background: #3b5998;"></span>
		<span class="sg-label">facebook blue<br/>#3b5998</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #55acee;"></span>
		<span class="sg-label">twitter blue<br/>#55acee</span>
	</li>

	<li>
		<span class="sg-swatch" style="background: #24e354;"></span>
		<span class="sg-label">success green<br/>#24e354</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #fd892c;"></span>
		<span class="sg-label">warning orange<br/>#fd892c</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #fc1e29;"></span>
		<span class="sg-label">error red<br/>#fc1e29</span>
	</li>
</ul>
