<p class="align-right">This text is right aligned. Just like my Kevin. Show him an exhibition of early eighteenth-century Dresden Pottery and he goes berserk. No, I said no, and I meant no! (smacks unseen infant again) This morning we were viewing the early Flemish Masters of the Renaissance and Mannerist Schools, when he gets out his black aerosol and squirts Vermeer's Lady At A Window!</p>

<p class="align-center"><em>This text is center aligned. 	(firmly) No, well Kevin knows (slaps the infant) that if he spits at a painting I'll never take him to an exhibition again.</em></p>